@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.jibber {
  display: inline-block;
  width: 300px;
  margin: 20px 0;
  text-align: left;
  word-break: break-word;
  .action-buttons {
    text-align: right;
  }
}

.jibber-container {
  margin: 40px;
  text-align: center;
}

.jibber-form {
  text-align: center;
  margin: 28pt;
}

.jibber-form-inner {
  text-align: left;
  width: 300px;
  display: inline-block;
}

.appbar-avatar {
  /* Avatars don't seem to align properly in IconButtons */
  margin-left: -13px;
  margin-top: -13px;
}
