Card.jibber
  CardHeader(title=props.title)
  CardText
    =props.children
  CardActions.action-buttons
    IconButton(iconClassName="material-icons")
      ="arrow_drop_down"
    IconButton(iconClassName="material-icons")
      ="close"
