Card
  CardHeader(title=props.title)
  CardText
    =props.children
  CardActions.jibber-card-actions
    IconButton(iconClassName="material-icons")
      ="arrow_drop_down"
    IconButton(iconClassName="material-icons")
      ="close"
